// main: main.scss
h1 {
  font-size: 1.2rem;
  color: #25378c;
}

h4 {
  color: #25378c;
}

h6 {
  color: $primary_color;
}

nav.breadcrumb-nav {
    margin-top: 83.25px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e9ecef;
}

.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-bottom: 0px !important;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.breadcrumb a {
  text-decoration: none !important;
  color: $secondary_color !important;
}

.breadcrumb a:hover {
  text-decoration: underline !important;
}



/*------ HOME ------*/

.main {
  background: url(../img/home/Rocket.gif) no-repeat;
  background-size: 70%;
  background-position-x: right;
  background-position-y: bottom;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.main h4 {
  font-size: 1.7rem;
  font-weight: 500;
  color: $tertiary_color;
}

.bt1 {
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #25378c;
  border: 2px solid #25378c;
  outline: none;
  transition-duration: 0.6s;
}

.bt1:hover {
  color: #FFFFFF;
  background-color: #25378c;
  border-color: #25378c;/*#0077B6;*/
  transition: 0.5s;
  box-shadow: 0.3rem 0.3rem 0.6em $light;
  transform: scale(1.08, 1.08);
}

.bt2 {
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  color: $tertiary_color;
  background-color: transparent;
  border: 2px solid $tertiary_color;
  outline: none;
}

.bt2:hover {
  color: $secondary_color;
  background-color: #FFF;
  border-color: $secondary_color;
  transition: 0.5s;
}

/* icon bottom */
.main-text-bottom {
  color: #aeaeae;
}

.main .bi-dribbble,
.main .bi-linkedin,
.main .bi-instagram,
.main .bi-github {
  font-size: 1em;
  color: #aeaeae;
  padding: 7px 10px;
  border: solid 2px;
  border-radius: 100%;
}

.main .bi-dribbble:hover,
.main .bi-linkedin:hover,
.main .bi-instagram:hover,
.main .bi-github:hover {
  font-size: 1em;
  color: $tertiary_color;
  padding: 7px 10px;
  border: solid 2px;
  border-radius: 100%;
}

.main .bi-arrow-down {

  font-size: 1.2em;
  color: $tertiary_color;
  padding: 6px 11px;
  border: solid 2px;
  border-radius: 100%;
  margin-top: 0px;
  cursor: pointer;
  animation: none;
  transition-property: animation;
  transition-duration: 0.6s;
}

.main .bi-arrow-down:hover {
  animation: pulse 0.6s infinite alternate;
  cursor: pointer;
  color: $tertiary_color;
}


@keyframes pulse {
  0% {
    transform: scale(1,1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
}

/* ------ Skills ------*/

.skills {
  min-height: 100vh;
  text-align: center;
  background-color: #CAF0F8;
  margin-top: -2px;
}

.col-icon-text.col-12.col-lg-4.py-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
  color: #25378c;
  font-width: 700;
}

.row.icon {
    justify-content: center;
}

.skills .bi-vector-pen,
.skills .bi-laptop,
.skills .bi-code-slash {
  font-size: 1em;
  color: #aeaeae;
  padding: 7px 10px;
  border: solid 2px;
  border-radius: 100%;
}

.skills .bi-vector-pen:hover,
.skills .bi-laptop:hover,
.skills .bi-code-slash:hover {
  font-size: 1em;
  color: $tertiary_color;
  padding: 7px 10px;
  border: solid 2px;
  border-radius: 100%;
}

.skills .card03,
.skills .card04 {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
  }

/* card */
.card {
  border: none !important;
  box-shadow: 0.15rem 0.15rem 0.4em #efefef;
}

.card-body {
  background-color: transparent;
}

.skills .card-header {
    color: $secondary_color;
    padding: 10px 20px;
    margin-left: 1rem;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: $light;
    box-shadow: 0.15rem 0.15rem 0.4em #efefef;
    border: 0px !important;
}

.skills .card-header:first-child {
  color: $secondary_color;
  background-color: $light;
  border-radius: 5px;
  border: 0px !important;
}


p.card {
  color: $primary_color;
}

a.btn.btn-card-light {
  text-align: center;
  color: $secondary_color;
  background-color: transparent;
  border-color: transparent;
  padding: 0px;

}

a.btn.btn-card-light:hover {
  text-decoration:underline;
}

.progetti-recenti h2,
.progetti-recenti p {
  text-align:center;
}

/* ------ Progetti Recenti ------ */
.progetti-recenti {
  min-height: 100vh;
}

.progetti-recenti .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progetti-recenti .row-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.progetti-recenti .col-lg-4{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progetti-recenti .card {
  width: 75% !important;
  transition-duration: 0.6s;
  background-color: $light;
}

.progetti-recenti .card-header {
    color: $secondary_color;
    padding: 10px 20px;
    margin-left: 1rem;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0.15rem 0.15rem 0.4em #efefef;
    border: 0px !important;
}

.progetti-recenti .card-header:first-child {
  color: $secondary_color;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0px !important;
}

.progetti-recenti .card-01:hover {
  box-shadow: 0.3rem 0.3rem 0.6em #da890f20;
  transform: scale(1.08, 1.08);
  border: 3px solid;
  border-color:#da890f;
}

.progetti-recenti .card-02:hover {
  box-shadow: 0.3rem 0.3rem 0.6em #38D80020;
  transform: scale(1.08, 1.08);
  border: 3px solid;
  border-color:#38D800;
}

.progetti-recenti .card-03:hover {
  box-shadow: 0.3rem 0.3rem 0.6em #00B4D820;
  transform: scale(1.08, 1.08);
  border: 3px solid;
  border-color:#00B4D800;
}

p.card-text {
  text-align: center;
}

h4.card-text {
  text-align: center;
}

.progetti-recenti .card .col-md-3 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 15px;
}

.col-md-3 .button {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.progetti-recenti .bi-chevron-right {
  font-size: 1em;
  padding: 7px 12px;
  border: solid 2px;
  border-radius: 100%;
}

/* card-01 */

.progetti-recenti .card-01 .bi-chevron-right {
  color: #FFFFFF;
  border-color: #DA890F;
  background-color: #DA890F;
  text-align: bottom-right;
}

.progetti-recenti .card-01 .bi-chevron-right:hover {
  color: #DA890F;
  border-color: #DA890F;
  background-color: transparent;
}

.card-01 h4.card-text {
  color: #5E3403;
  margin: 0;
}


.card-01 p.card-text {
  color: #5E3403;
}

.card-01 .card-header:first-child {
  color: #DA890F;
}

/* card 02 */

.progetti-recenti .card-02 .bi-chevron-right {
  color: #FFFFFF;
  border-color: #38D800;
  background-color: #38D800;
  text-align: bottom-right;
}

.progetti-recenti .card-02 .bi-chevron-right:hover {
  color: #38D800;
  border-color: #38D800;
  background-color: transparent;
}

.card-02 h4.card-text {
  color: #0A5E03;
  margin: 0;
}


.card-02 p.card-text {
  color: #0A5E03;
}

.card-02 .card-header:first-child {
  color: #38D800;
}

/* card 03 */

.progetti-recenti .card-03 .bi-chevron-right {
  color: #FFFFFF;
  border-color: #00B4D8;
  background-color: #00B4D8;
  text-align: bottom-right;
}

.progetti-recenti .card-03 .bi-chevron-right:hover {
  color: #00B4D8;
  border-color: #00B4D8;
  background-color: transparent;
}

.card-03 h4.card-text {
  color: #03045E;
  margin: 0;
}


.card-03 p.card-text {
  color: #03045E;
}

.card-03 .card-header:first-child {
  color: #00B4D8;
}

/* ------ proposte di lavoro ------ */

.proposte-lavoro {
    background: url(../img/home/mobileUX.gif) no-repeat;
    background-size: 50%;
    background-position-x: left;
    background-position-y: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

/* ------ Recensioni ------*/
.recensioni {
  background: url(../img/home/review.gif) no-repeat;
  background-size: 50%;
  background-position-x: right;
  background-position-y: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.img-review {
  width: 160%;
}


/*------ Breakpoint ------*/

@include media-breakpoint-up(md) {
  /*-- progetti recenti --*/
  h4.card-text {
    text-align: left;
  }
  p.card-text {
    text-align:left;
  }
  .progetti-recenti .card .col-md-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .progetti-recenti .card .col-md-3 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}





/*------ CONTACT ------*/

.contact h2 {
  text-align: center;
  margin-top: 20px;
}

.form-label {
  color: #25378c;
  font-weight: 400;
}

.contact {
    background: url(../img/home/mobileUX.gif) no-repeat;
    background-size: 50%;
    background-position-x: left;
    background-position-y: center;
    height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/*------ ABOUT ME ------*/

.about-me h2 {
  text-align: center;
  margin-top: 20px;
}

.about-me .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

img.rounded.mx-auto.d-block.profile {
    width: 40%;
}

.progress-bar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    overflow: hidden !important;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    flex-wrap: nowrap !important;
    align-content: center !important;
    align-items: center;
    background-color: #90E0EF !important;
    padding-left: 15px !important;
    padding-right: 15px !important;

    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1.5s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-bar p {
    margin-bottom: 0px;
}

.progress {
  margin-bottom: 20px;
  padding: 0px !important;
  border-radius: 50px !important;
  background-color: #f8f8f8 !important;
  box-shadow: $box-shadow;
}

 .download-cv .container {
  text-align: center !important;
}

/*------ GRAPHIC PORTFOLIO ------*/

.graphic h2 {
  text-align: center !important;
  margin-top: 20px !important;
}


.number {
    display: flex;
    width: 60%;
    margin-right: 0px;
    background-color: #25378c;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
}

.number h5 {
  margin: 0.5rem !important;
  color: #FFFFFF;
}

.graphic h1 {
  text-align: center;
  margin-top: 20px;
}











@include media-breakpoint-up(lg) {
  .main,
  .skills,
  .proposte-lavoro,
  .recensioni
   {
    text-align: left;
  }

  /*-- Skills --*/
  .row.icon {
      justify-content: left;
  }
}

@include media-breakpoint-up(md) {

  /*-- ABOUT ME --*/
  .progress
   {
     width: 47% !important;
     margin-right: 3%;
  }

}
